<!DOCTYPE html>
<!--[if IE 7]> <html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zxx">
    <head>
        <!-- TITLE OF SITE -->
        <title>Curricular - Responsive Bootstrap Education Template</title>
        
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="description" content="app landing page template" />
        <meta name="keywords" content="app, landing page, bootstrap" />
        <meta name="developer" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- FAV AND ICONS   -->
        <link rel="icon" href="assets/images/favicon.png" sizes="32x32" />
        <link rel="icon" href="assets/images/apple-icon-192.png" sizes="192x192" />
        <link rel="apple-touch-icon-precomposed" href="assets/images/apple-icon-180.png" />

        <!-- GOOGLE FONTS -->
        <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,700%7cVarela+Round" rel="stylesheet">

        <!-- FONT ICONS -->
        <link rel="stylesheet" href="assets/icons/font-awesome-4.7.0/css/font-awesome.min.css">
        
        <!-- Custom Icon Font -->
        <link rel="stylesheet" href="assets/font/flaticon.css">
        <!-- Bootstrap-->
        <link rel="stylesheet" href="assets/plugins/css/bootstrap.min.css">
        <!-- Animation -->
        <link rel="stylesheet" href="assets/plugins/css/animate.css">
        <link rel="stylesheet" href="assets/plugins/css/course-review.css">
        <!-- owl -->
        <link rel="stylesheet" href="assets/plugins/css/owl.css">

        <!-- selectize -->
        <link rel="stylesheet" href="assets/plugins/css/selectize.css">
        <link rel="stylesheet" href="assets/plugins/css//selectize.bootstrap3.css">
        <!-- Fancybox-->
        <link rel="stylesheet" href="assets/plugins/css/jquery.fancybox.min.css">
        <!--dropdown -->
        <link rel="stylesheet" href="assets/plugins/css/bootstrap-dropdownhover.min.css">
        <!-- mobile nav-->
        <link rel="stylesheet" href="assets/plugins/css/meanmenu.css">

        <!-- COUSTOM CSS link  -->
        <link rel="stylesheet" href="assets/less/style.css">
        <link rel="stylesheet" href="assets/less/responsive.css">

        <!--[if lt IE 9]
            <script src="js/plagin-js/html5shiv.js"></script>
            <script src="js/plagin-js/respond.min.js"></script>
         [endif]-->

    </head>
    <body class="subpage">
        <!--
        |========================
        |  HEADER
        |========================
        -->
        <header class="xt-header">
            <div class="xt-header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 uv-header-contact">
                            <a href=""> <i class="fa fa-phone"></i>(519) - 875 - 9822</a>
                            <a href=""> <i class="fa fa-envelope-o"></i>info@curricular.edu</a>
                        </div>
                        <div class="col-sm-6 uv-header-user">
                            <a href="login-reg.html"><i class="fa fa-lock"></i>login/register</a> 
                            <div class="xt-header-search">
                                <div id="besocial-header-right" class=""> 
                                    <i class="fa fa-remove"></i> 
                                    <i class="fa fa-search"></i>
                                </div>
                                <div id="besocial-search-bar" class="">
                                    <form class="besocial-topbar-searchbox"> 
                                        <input type="text" class="besocial-topbar-searchtext" placeholder="Search..." name="search"> 
                                        <input type="submit" class="fa-input" name="submit" value="Go">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="xt-main-nav">
                <nav class="navbar nav-scroll home-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="uv-logo">
                                    <a href="index.html">
                                        <img src="assets/images/univ-logo.png" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-8 pull-right">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-action="#js-navbar-menu" aria-expanded="false">
                                        <span aria-hidden="true" class="icon"></span>
                                    </button>
                                </div>
                                <div class="collapse navbar-collapse" id="js-navbar-menu">
                                    <ul class="nav navbar-nav ep-mobile-menu" id="navbar-nav">
                                        <li class="dropdown xt-drop-nav">
                                            <a href="" class="dropdown-toggle active" data-toggle="dropdown" data-hover="dropdown" data-animations="fadeInDown fadeInDown fadeInDown">
                                                Home
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="index.html">Home (University)</a></li>
                                                <li><a href="index-1.html">Home (Online Course)</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown xt-drop-nav">
                                            <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-animations="fadeInDown fadeInDown fadeInDown">
                                                Course 
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="course-listing.html">Course List</a></li>
                                                <li><a href="course-details.html">Single Course</a></li>
                                                <li><a href="course-details-2.html">Single Course 2</a></li>
                                                <li><a href="course-archive.html">Course Archive</a></li>
                                                <li><a href="course-quiz.html">Course Quiz</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown xt-drop-nav">
                                            <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-animations="fadeInDown fadeInDown fadeInDown">
                                                Profile 
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="dashboard-my-profile.html">Profile</a></li>
                                                <li><a href="dashboard-classes.html">Classes</a></li>
                                                <li><a href="dashboard-courses.html">Courses</a></li>
                                                <li><a href="dashboard-fav-courses.html">Favorite Course</a></li>
                                                <li><a href="dashboard-privacy-setting.html">Privacy Setting</a></li>
                                                <li><a href="dashboard-profile-setting.html">Profile Setting</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown xt-drop-nav">
                                            <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-animations="fadeInDown fadeInDown fadeInDown">
                                                Blog 
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="blog.html">Blog Page</a></li>
                                                <li><a href="blog-single.html">Blog Single</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown xt-drop-nav">
                                            <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-animations="fadeInDown fadeInDown fadeInDown">
                                                Features 
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="about.html">About</a></li>
                                                <li><a href="services.html">Service</a></li>
                                                <li><a href="teacher-details.html">Teacher Details</a></li>
                                                <li><a href="classes.html">Classes Time Table</a></li>
                                                <li><a href="not-found.html">404</a></li>
                                                <li><a href="login-reg.html">Login & Registration</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav><!-- /.navbar -->
            </div>
            <!-- Mobile Menu-->
            <div class="menu-spacing visible-xs nav-scroll">
                <div class="mobile-menu-area visible-xs visible-sm">
                    <div class="mobile-menu">
                        <nav id="mobile-menu-active">
                            <ul class="main">
                                <li class="active"><a class="main-a" href="#">Home</a>
                                    <ul>
                                        <li><a href="index-1.html">Home 1</a></li>
                                    </ul>	
                                </li>
                                <li><a class="main-a" href="">Courses</a>
                                    <ul>
                                        <li><a href="course-listing.html">Course List</a></li>
                                        <li><a href="course-details.html">Single Course</a></li>
                                        <li><a href="course-details-2.html">Single Course 2</a></li>
                                        <li><a href="course-archive.html">Course Archive</a></li>
                                        <li><a href="course-quiz.html">Course Quiz</a></li>
                                    </ul>
                                </li>
                                <li><a class="main-a" href="">Features</a>
                                    <ul>
                                        <li><a href="not-found.html">404</a></li>
                                        <li><a href="login-reg.html">Login & Registration</a></li>
                                        <li><a href="teacher-details.html">Team Details</a></li>
                                        <li><a href="classes.html">Classes</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="services.html">Service</a></li>
                                    </ul>
                                </li>
                                <li><a class="main-a" href="">Profile</a>
                                    <ul>
                                        <li><a href="dashboard-my-profile.html">Profile</a></li>
                                        <li><a href="dashboard-classes.html">Classes</a></li>
                                        <li><a href="dashboard-courses.html">Courses</a></li>
                                        <li><a href="dashboard-fav-courses.html">Favorite Course</a></li>
                                        <li><a href="dashboard-privacy-setting.html">Privacy Setting</a></li>
                                        <li><a href="dashboard-profile-setting.html">Profile Setting</a></li>
                                    </ul>
                                </li>
                                <li><a class="main-a" href="">Blog</a>
                                    <ul>
                                        <li><a href="blog.html">Blog Page</a></li>
                                        <li><a href="blog-single.html">Blog Single</a></li>
                                    </ul>
                                </li>
                                <li><a class="main-a" href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>	
                </div>
            </div>
        </header>
        <!--
        |========================
        |      Features Section
        |========================
        -->
        <section class="uv-subpage-heading image-bg" style="background-image: url(assets/images/header-bg-1.jpg);">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="uv-subhead-content center">
                            <h2>Title</h2>
                            <span>Curricular Responsive Bootstrap Education Template</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="uv-pagination">
            <div class="container">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Course</a></li>
                    <li class="active"><a href="">About</a></li>
                </ul>
            </div>
        </div>
        
        <div class="uv-single-contest uv-course-details">
            <div class="container">
                <div class="educationpress-main-content-inner row">
                    <div id="primary" class="content-area col-md-8 col-sm-12">
                        <div class="uv-single-course">
                            <div class="single-each-content uv-course-details-inner shadow-3">
                                <img src="assets/images/ux.jpg" alt="" class="img-responsive uv-course-banner">
                                <div class="uv-cd-heading uv-cd-wrap">
                                    <div class="each-title">
                                        <h2>UI-UX WEB DESIGN, GRAPHIC DESIGN</h2>
                                        <div class="uv-course-reveiw">
                                            <span>(244) rating</span>
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="uv-cd-meta">
                                        <ul>
                                            <li>
                                                <figure>
                                                    <img src="assets/images/student-1.png" alt="">
                                                </figure>
                                                <div class="uv-course-meta-des">
                                                    <h6>CHARLES G. SMITH</h6>
                                                    <span>Senior Teacher</span>
                                                </div>
                                            </li>
                                            <li>
                                                <i class="icon-book"></i>
                                                <div class="uv-course-meta-des">
                                                    <h6>Photoshop</h6>
                                                    <span>Categories</span>
                                                </div>
                                            </li>
                                            <li>
                                                <ul class="uv-social-icons">
                                                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href=""><i class="fa fa-youtube"></i></a></li>
                                                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                                    <li><a href=""><i class="fa fa-codepen"></i></a></li>
                                                    <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                </div>
                                <div class="clearfix"></div>
                                <div class="uv-cd-about  uv-cd-wrap">
                                    <h3>About Course</h3>
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui 
                                    ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, 
                                    adipisci velit, sed quia non numquam eius modi</p>
                                    <p>Tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
                                    ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Nemo enim ipsam voluptatem quia voluptas sit 
                                    aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                                    qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi.Quis autem vel eum iure reprehender.a</p>
                                </div>
                                <div class="uv-cd-study uv-cd-wrap">
                                    <h3>What You will study</h3>
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi</p>
                                    <ul class="uv-cd-arrow">
                                        <li>We are home to 1,500 students and 100 experts.</li>
                                        <li>We are home to 1,500 students and 100 experts.</li>
                                        <li>We are home to 1,500 students and 100 experts.</li>
                                        <li>We are home to 1,500 students and 100 experts.</li>
                                    </ul>
                                </div>
                                <div class="uv-cd-requirements uv-cd-wrap">
                                    <h3>REQUIREMENTS</h3>
                                    <p>emo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi</p>
                                    <ul class="uv-cd-arrow">
                                        <li>We are home to 1,500 students and 100 experts.</li>
                                        <li>We are home to 1,500 students and 100 experts.</li>
                                        <li>We are home to 1,500 students and 100 experts.</li>
                                        <li>We are home to 1,500 students and 100 experts.</li>
                                    </ul>
                                </div>
                                <div class="uv-cd-curriculam uv-cd-wrap">
                                    <h3>OUR CURRICULUM</h3>
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi</p>
                                    <div class="uv-course-list-warp">
                                        <h6>beginer to photoshop</h6>
                                        <ul>
                                            <li>
                                                <div class="uv_lec_detail">Lecture 1.1:</div>
                                                <div class="uv_lec_title">
                                                    <h6>Welcome to the Courses</h6>
                                                    <span>Preveiw</span>
                                                </div>
                                                <div class="uv_lec_duration"><i class="fa fa-clock-o"></i>30 Minute</div>
                                            </li>
                                            <li>
                                                <div class="uv_lec_detail">Lecture 1.1:</div>
                                                <div class="uv_lec_title">
                                                    <h6>Introducing the program of the course</h6>
                                                    <span>Preveiw</span>
                                                </div>
                                                <div class="uv_lec_duration"><i class="fa fa-clock-o"></i>30 Minute</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="uv-course-list-wrap border_bottom default_width uv-course-list-warp">
                                    <h6>Basic Training of Photoshop</h6>
                                    <ul>
                                      <li>
                                        <div class="uv_lec_detail">Lecture 1.1:</div>
                                        <div class="uv_lec_title">
                                          <h6>Welcome to the Courses</h6>
                                          <span>Preveiw</span>
                                        </div>
                                        <div class="uv_lec_duration"><i class="fa fa-clock-o"></i>30 Minute</div>
                                      </li>
                                      <li>
                                        <div class="uv_lec_detail">Lecture 1.1:</div>
                                        <div class="uv_lec_title">
                                          <h6>Introducing the program of the course</h6>
                                          <span>Preveiw</span>
                                        </div>
                                        <div class="uv_lec_duration"><i class="fa fa-clock-o"></i>30 Minute</div>
                                      </li>
                                      <li>
                                        <div class="uv_lec_detail">Lecture 1.1:</div>
                                        <div class="uv_lec_title">
                                          <h6>Welcome to the Courses</h6>
                                          <span>Preveiw</span>
                                        </div>
                                        <div class="uv_lec_duration"><i class="fa fa-clock-o"></i>30 Minute</div>
                                      </li>
                                      <li>
                                        <div class="uv_lec_detail">Lecture 1.1:</div>
                                        <div class="uv_lec_title">
                                          <h6>Introducing the program of the course</h6>
                                          <span>Preveiw</span>
                                        </div>
                                        <div class="uv_lec_duration"><i class="fa fa-clock-o"></i>30 Minute</div>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="uv-cd-instructor uv-cd-wrap">
                                    <h3>COURSE INSTRUCTOR</h3>
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi</p>
                                    <div class="uv-cd-instrutor-details">
                                        <figure>
                                            <img src="assets/images/ins.jpg" alt="">
                                        </figure>
                                        <div class="uv-cd-instructor-details-inner">
                                            <h3>CHARLES G. SMITH</h3>
                                            <span>Senior Teacher</span>
                                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</p>
                                            <ul class="uv-social-icons">
                                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                                <li><a href=""><i class="fa fa-youtube"></i></a></li>
                                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                                <li><a href=""><i class="fa fa-codepen"></i></a></li>
                                                <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                            </ul>
                                        </div>
                                            
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div><!-- #primary -->
                    
                    <aside class="uv-sidebar col-md-4 col-sm-12">
                        <div class="uv_featured_course_list uv_aside2_hdg mb30">
                            <h5>Courses Feature</h5>
                            <ul>
                                <li>
                                    <div class="uv_course_dur_list">
                                        <i class="fa fa-clock-o"></i>
                                        <span>Coureses Duration</span>
                                    </div>
                                    <span class="uv_duration">3 Month</span>
                                </li>
                                <li>
                                    <div class="uv_course_dur_list">
                                        <i class="fa fa-align-left"></i>
                                        <span>No of  Lectures</span>
                                    </div>
                                    <span class="uv_duration">18</span>
                                </li>
                                <li>
                                    <div class="uv_course_dur_list">
                                        <i class="fa fa-address-card-o"></i>
                                        <span>Certification</span>
                                    </div>
                                    <span class="uv_duration">Yes</span>
                                </li>
                                <li>
                                    <div class="uv_course_dur_list">
                                        <i class="fa fa-bullhorn"></i>
                                        <span>Quizzes</span>
                                    </div>
                                    <span class="uv_duration">2</span>
                                </li>
                                <li>
                                    <div class="uv_course_dur_list">
                                        <i class="fa fa-address-book-o"></i>
                                        <span>Student</span>
                                    </div>
                                    <span class="uv_duration">50</span>
                                </li>
                                <li>
                                    <div class="uv_course_dur_list">
                                        <i class="fa fa-database"></i>
                                        <span>Skill Level</span>
                                    </div>
                                    <span class="uv_duration">Begineer</span>
                                </li>
                                <li>
                                    <div class="uv_course_dur_list">
                                        <i class="fa fa-money"></i>
                                        <span>Price</span>
                                    </div>
                                    <span class="uv_duration">$99</span>
                                </li>
                            </ul>
                            <a href="#">ENROLL Now</a>
                            <a class="uv_add_fav" href="#">Add to favorite</a>
                        </div>
                        
                        <div class="uv_dwnload_course default_width mb30">
                            <a href="#">
                                <i class="fa fa-download"></i>
                                <span>DOWNLOAD <br>FULL COURSE PLAN</span>
                            </a>
                        </div>
                        
                        <div class="uv_course_intro default_width mb30">
                            <figure>
                                <img src="assets/images/course-intro.jpg" alt="">
                                <figcaption class="uv_play_btn">
                                <a data-rel="prettyPhoto" href="https://www.youtube.com/watch?v=Z_Qb-BOAVac"><i class="fa fa-play"></i></a>
                                </figcaption>
                            </figure>
                            <p>Courses Introducation</p>
                        </div>
                        
                        <div class="uv_aside_category uv_aside2_hdg mb30">
                            <h5>Categories</h5>
                            <ul>
                                <li><a href="#">Computer Sciences</a> <span>55</span></li>
                                <li><a href="#">Business &amp; Management</a> <span>45</span></li>
                                <li><a href="#">Biology &amp; life Sciences</a> <span>10</span></li>
                                <li><a href="#">Software Engineering</a> <span>15</span></li>
                                <li><a href="#">Music Film and Audio</a> <span>25</span></li>
                                <li><a href="#">Economics and Finance</a> <span>50</span></li>
                                <li><a href="#">Mathematic Solutions</a> <span>25</span></li>
                                <li><a href="#">Information Technology</a> <span>50</span></li>
                                <li><a href="#">Architecture Designing</a> <span>25</span></li>
                            </ul>
                        </div>
                        
                        <div class="uv_featured_course_list uv_aside2_hdg mb30">
                            <h5>Courses Feature</h5>
                            <ul class="uv_aside_fea_course">
                                <li>
                                    <figure>
                                        <img src="assets/images/android.jpg" alt="">
                                    </figure>
                                    <div class="aside_fea_course_des">
                                        <h6><a href="#">Android App Development</a></h6>
                                        <span>Price: 100$</span>
                                    </div>
                                </li>
                                <li>
                                    <figure>
                                        <img src="assets/images/ct8.jpg" alt="">
                                    </figure>
                                    <div class="aside_fea_course_des">
                                        <h6><a href="#">Angular 2 Essential Training JavaScript</a></h6>
                                        <span>Price: 250$</span>
                                    </div>
                                </li>
                                <li>
                                    <figure>
                                        <img src="assets/images/ios.jpg" alt="">
                                    </figure>
                                    <div class="aside_fea_course_des">
                                        <h6><a href="#">IOS App Development</a></h6>
                                        <span>Price: 200$</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
        <section class="uv-blog bg-2">
            <div class="container">
                <div class="row section-separator">
                    <div class="section-title col-xs-12">
                        <h2>Our Teachers</h2>
                        <span>Lorem ipsum dolor sit amet consectetur</span>
                        <hr class="uv-hr">
                        <a href="" class="btn btn-base view-full-event"> View All Teachers</a>
                    </div>
                    <div class="each-blogs col-xs-12" id="uv-blog-carousel">
                        <div class="item">
                            <div class="blog-inner">
                                <div class="blog-banner">
                                    <img src="assets/images/tc3.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="blog-content">
                                    <h4>Luyes Figrey</h4>
                                    <div class="blog-schedule">
                                        <a href=""><h4>Luyes Figrey</h4></a>
                                        <span>JavaScript Expert</span>
                                        <ul>
                                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                            <li><a href=""><i class="fa fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        <div class="item">
                            <div class="blog-inner">
                                <div class="blog-banner">
                                    <img src="assets/images/tc1.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="blog-content">
                                    <h4>Albert Robber</h4>
                                    <div class="blog-schedule">
                                        <a href=""><h4>Albert Robber</h4></a>
                                        <span>PHP Expert</span>
                                        <ul>
                                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                            <li><a href=""><i class="fa fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        <div class="item">
                            <div class="blog-inner">
                                <div class="blog-banner">
                                    <img src="assets/images/tc2.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="blog-content">
                                    <h4>Jhon Watson</h4>
                                    <div class="blog-schedule">
                                        <a href=""><h4>Jhon Watson</h4></a>
                                        <span>Laravel Expert</span>
                                        <ul>
                                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                            <li><a href=""><i class="fa fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!--
        |========================
        |  testimonial
        |========================
        -->
        <section class="section uv-testimonial image-bg" id="uv-testimonial" style="background-image: url(assets/images/ts-bg.jpg);">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 client-quates">
                            <div class="uv-client-testimonial">
                                <div class="slider-content wow">
                                    <div class="carousel uv-carousel-fade slide" data-ride="carousel" id="quote-carousel">
                                        <div class="carousel-inner text-center">
                                            <!-- Quote 1 -->
                                            <div class="item active">
                                                <blockquote>
                                                    <div class="row">
                                                        <div class="uv-client-quates">
                                                            <h3>Sam Andro</h3>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                                                        </div>
                                                    </div>
                                                </blockquote>
                                            </div>
                                            <!-- Quote 2 -->
                                            <div class="item">
                                                <blockquote>
                                                    <div class="row">
                                                        <div class="uv-client-quates">
                                                            <h3>Linux Wlis</h3>
                                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page</p>
                                                        </div>
                                                    </div>
                                                </blockquote>
                                            </div>
                                            <!-- Quote 3 -->
                                            <div class="item">
                                                <blockquote>
                                                    <div class="row">
                                                        <div class="uv-client-quates">
                                                            <h3>Becky Rand</h3>
                                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered</p>
                                                        </div>
                                                    </div>
                                                </blockquote>
                                            </div>
                                            <!-- Quote 4 -->
                                            <div class="item">
                                                <blockquote>
                                                    <div class="row">
                                                        <div class="uv-client-quates">
                                                            <h3>Jenny</h3>
                                                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin</p>
                                                        </div>
                                                    </div>
                                                </blockquote>
                                            </div>
                                        </div>
                                        <!-- Bottom Carousel Indicators -->
                                        <ol class="carousel-indicators uv-indicator">
                                            <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="assets/images/t3.jpg" alt=""></li>
                                            <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="assets/images/t2.jpg" alt=""></li>
                                            <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="assets/images/t1.jpg" alt=""></li>
                                            <li data-target="#quote-carousel" data-slide-to="3"><img class="img-responsive" src="assets/images/student-1.png" alt=""></li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <footer class="uv-footer footer-bg section-separator">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="footer-item">
                            <h6>Contact School</h6>
                            <address>23621 15 Mile Rd #C104, Clinton MI, 48035, New York, USA</address>
                            <ul>
                                <li><a href=""><i class="fa fa-phone"></i>+1 (2) 345 6789</a></li>
                                <li><a href=""><i class="fa fa-phone"></i>+1 (2) 345 6789</a></li>
                                <li><a href=""><i class="fa fa-envelope-o"></i>contact@curricular.com</a></li>
                            </ul>
                            <ul class="social">
                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer-item">
                            <h6>Our Programs</h6>
                            <ul>
                                <li><a href="">Architecture, Building & Planning</a></li>
                                <li><a href="">Biological Sciences</a></li>
                                <li><a href="">Business & Administrative Studies</a></li>
                                <li><a href="">Computer Science</a></li>
                                <li><a href="">Creative Arts & Design</a></li>
                                <li><a href="">Medicine and Related Subjects</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer-item">
                            <h6>Our Resources</h6>
                            <ul>
                                <li><a href="">Student Resources</a></li>
                                <li><a href="">Career Development</a></li>
                                <li><a href="">Information Technology</a></li>
                                <li><a href="">Diversity & Access</a></li>
                                <li><a href="">Dining Services</a></li>
                                <li><a href="">Housing & Residence Life</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer-item">
                            <h6>Newsletter</h6>
                            <p>Enter your email and we'll send you more information of courses and scholarship.</p>
                            <form class="uv-form footer-form">
                                <div class="form-group relative">
                                    <div class="relative">
                                        <input type="text" class="form-control" placeholder="Email Address" required>
                                    </div>
                                </div>
                                <div class="footer-subs-btn">
                                    <button type="submit" class="btn btn-base" value="subscribe">Subcribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <hr class="f-hr">
                <div class="row">
                    <div class="uv-copyright center">
                        <p> © Copyright Curricular 2018. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>

        
        <!--
        |========================
        |      Script
        |========================
        -->
        <!-- jquery -->
        <script src="assets/plugins/js/jquery-1.11.3.min.js"></script>
        <!-- Bootstrap -->
        <script src="assets/plugins/js/bootstrap.min.js"></script>
        <!-- mean menu nav-->
        <script src="assets/plugins/js/meanmenu.js"></script>
        <!-- ajaxchimp -->
        <script src="assets/plugins/js/jquery.ajaxchimp.min.js"></script>
        <!-- wow -->
        <script src="assets/plugins/js/wow.min.js"></script>
        <!-- Owl carousel-->
        <script src="assets/plugins/js/owl.carousel.js"></script>
        <!--dropdownhover-->
        <script src="assets/plugins/js/bootstrap-dropdownhover.min.js"></script>
        <script src="assets/plugins/js/jquery.matchHeight.js"></script>
        <!--jquery-ui.min-->
        <script src="assets/plugins/js/bars.js"></script>
        <!--validator -->
        <script src="assets/plugins/js/validator.min.js"></script>
        <!--smooth scroll-->
        <script src="assets/plugins/js/smooth-scroll.js"></script>
        <!-- Fancybox js-->
        <script src="assets/plugins/js/jquery.fancybox.min.js"></script>
        <!-- fitvids -->
        <script src="assets/plugins/js/jquery.fitvids.js"></script>
        <!-- SELECTIZE-->
        <script src="assets/plugins/js/standalone/selectize.js"></script>
        <!-- isotope js-->
        <script src="assets/plugins/js/isotope.pkgd.js"></script>
        <script src="assets/plugins/js/packery-mode.pkgd.js"></script>
        <script src="assets/plugins/js/jquery.inview.min.js"></script>
        <script src="assets/plugins/js/progressbar.min.js"></script>
        <!--<script src="assets/plugins/js/course-review.js"></script>-->

        <!-- init -->
        <script src="assets/js/init.js"></script>
        
    </body>
