<!DOCTYPE html>
<html lang="en">
<head>
    	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	 <!-- Meta -->
	 <meta charset="utf-8">
	 <meta name="description" content="app landing page template" />
	 <meta name="keywords" content="app, landing page, bootstrap" />
	 <meta name="developer" content="">
	 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>index</title>
    <link rel="stylesheet" href="assets/plugins/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/plugins/css/bootstrap-dropdownhover.min.css">
     <link rel="stylesheet" href="assets/less/style.css">
     <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,700%7cVarela+Round" rel="stylesheet">
     <link rel="stylesheet" href="assets/icons/font-awesome-4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header class="xt-header">
		<div class="xt-header-top">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6 uv-header-contact mt-5">
						<a href=""> <i class="fa fa-phone"></i>+44 345 678 903</a>
						<a href=""> <i class="fa fa-envelope-o"></i>adobexd@mail.com</a>
					</div>
					<div class="col-sm-3 uv-header-user">
						<a href="login-reg.html"><i class="fa fa-lock"></i>login/register</a> 
						<div class="xt-header-search">
							<div id="besocial-header-right" class=""> 
								<i class="fa fa-remove"></i> 
								<i class="fa fa-search"></i>
							</div>
							<div id="besocial-search-bar" class="">
								<form class="besocial-topbar-searchbox"> 
									<input type="text" class="besocial-topbar-searchtext" placeholder="Search..." name="search"> 
									<input type="submit" class="fa-input" name="submit" value="Go">
								</form>
							</div>
						</div>
					</div>
					<div class="col-sm-3 ">
						<img class="pull-right "  src="image/logo.png" width="80.5" height="100%">

					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="xt-main-nav">
			<nav class="navbar nav-scroll home-1">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							
							<div class="uv-logo">
									<img src="image/Ellipse 63.svg" alt="">		
									KIAM 
							</div>
						</div>
						<div class="col-sm-8 pull-right">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-action="#js-navbar-menu" aria-expanded="false">
									<span aria-hidden="true" class="icon"></span>
								</button>
							</div>
							<div class="collapse navbar-collapse" id="js-navbar-menu">
								<ul class="nav navbar-nav ep-mobile-menu" id="navbar-nav">
									<li class="dropdown xt-drop-nav">
										<a href="" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-animations="fadeInDown fadeInDown fadeInDown">
											ACCUEIL
										</a>
										<ul class="dropdown-menu">
											<li><a href="#">Qualités</a></li>
											<li><a href="#">Société</a></li>
											<li><a href="#">Services</a></li>
											<li><a href="#">Spécialités</a></li>
											<li><a href="#">Portfolio</a></li>
											<li><a href="#">Témoignage</a></li>
											<li><a href="#">Posts</a></li>
										</ul>
									</li>
									<li class="dropdown xt-drop-nav">
										<a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-animations="fadeInDown fadeInDown fadeInDown">
											A PROPOS
										</a>
										<ul class="dropdown-menu">
											<li><a >//</a></li>
											<li><a href="#">//</a></li>
											<li><a href="#">// </a></li>
											<li><a href="#">//</a></li>
											<li><a href="#">//</a></li>
										</ul>
									</li>
									<li class="dropdown xt-drop-nav">
										<a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-animations="fadeInDown fadeInDown fadeInDown">
											SERVICES
										</a>
										<ul class="dropdown-menu">
											<li><a href="#">//</a></li>
											<li><a href="#">//</a></li>
											<li><a href="#">//</a></li>
											<li><a href="#"> //</a></li>
											<li><a href="#"> //</a></li>
											<li><a href="#"> //</a></li>
										</ul>
									</li>
									<li class="dropdown xt-drop-nav">
										<a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-animations="fadeInDown fadeInDown fadeInDown">
											BLOG
										</a>
										<ul class="dropdown-menu">
											<li><a href="#">//</a></li>
											<li><a href="#">//</a></li>
										</ul>
									</li>
									<li class="dropdown xt-drop-nav">
										<a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-animations="fadeInDown fadeInDown fadeInDown">
											CONTACT
										</a>
										<ul class="dropdown-menu">
											<li><a href="#">//</a></li>
											<li><a href="#">//</a></li>
											<li><a href="#">//</a></li>
											<li><a href="#">//</a></li>
											<li><a href="#">//</a></li>
											<li><a href="#">//</a></li>
										</ul>
									</li>
									<!-- <li><a href="contact.html">Contact</a></li> -->
								</ul>
							</div>
						</div>
					</div>
				</div>
			</nav><!-- /.navbar -->
		</div>
		
	
    </header>  
    <script src="assets/plugins/js/jquery-1.11.3.min.js"></script>
    <!-- Bootstrap -->
    <script src="assets/plugins/js/bootstrap.min.js"></script></body>
    <script src="assets/plugins/js/bootstrap-dropdownhover.min.js"></script>


</html>