
<!DOCTYPE html>
<!--[if IE 7]> <html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zxx">
    <head>
        <!-- TITLE OF SITE -->
        <title>Curricular - Responsive Bootstrap Education Template</title>
        
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="description" content="app landing page template" />
        <meta name="keywords" content="app, landing page, bootstrap" />
        <meta name="developer" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- FAV AND ICONS   -->
        <link rel="icon" href="assets/images/favicon.png" sizes="32x32" />
        <link rel="icon" href="assets/images/apple-icon-192.png" sizes="192x192" />
        <link rel="apple-touch-icon-precomposed" href="assets/images/apple-icon-180.png" />

        <!-- GOOGLE FONTS -->
        <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,700%7cVarela+Round" rel="stylesheet">

        <!-- FONT ICONS -->
        <link rel="stylesheet" href="assets/icons/font-awesome-4.7.0/css/font-awesome.min.css">
        
        <!-- Custom Icon Font -->
        <link rel="stylesheet" href="assets/font/flaticon.css">
        <!-- Bootstrap-->
        <link rel="stylesheet" href="assets/plugins/css/bootstrap.min.css">
        <!-- Animation -->
        <link rel="stylesheet" href="assets/plugins/css/animate.css">
        <!-- owl -->
        <link rel="stylesheet" href="assets/plugins/css/owl.css">
        <!-- selectize -->
        <link rel="stylesheet" href="assets/plugins/css/selectize.css">
        <link rel="stylesheet" href="assets/plugins/css//selectize.bootstrap3.css">
        <!-- Fancybox-->
        <link rel="stylesheet" href="assets/plugins/css/jquery.fancybox.min.css">
        <!--dropdown -->
        <link rel="stylesheet" href="assets/plugins/css/bootstrap-dropdownhover.min.css">
        <!-- mobile nav-->
        <link rel="stylesheet" href="assets/plugins/css/meanmenu.css">

        <!-- COUSTOM CSS link  -->
        <link rel="stylesheet" href="assets/less/style.css">
        <link rel="stylesheet" href="assets/less/responsive.css">

        <!--[if lt IE 9]>
            <script src="js/plagin-js/html5shiv.js"></script>
            <script src="js/plagin-js/respond.min.js"></script>
        <![endif]-->

    </head>
    <body class="subpage">
        <!--
        |========================
        |  HEADER
        |========================
        -->
        <header class="xt-header">
            <div class="xt-header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 uv-header-contact">
                            <a href=""> <i class="fa fa-phone"></i>(519) - 875 - 9822</a>
                            <a href=""> <i class="fa fa-envelope-o"></i>info@curricular.edu</a>
                        </div>
                        <div class="col-sm-6 uv-header-user">
                            <a href="login-reg.html"><i class="fa fa-lock"></i>login/register</a> 
                            <div class="xt-header-search">
                                <div id="besocial-header-right" class=""> 
                                    <i class="fa fa-remove"></i> 
                                    <i class="fa fa-search"></i>
                                </div>
                                <div id="besocial-search-bar" class="">
                                    <form class="besocial-topbar-searchbox"> 
                                        <input type="text" class="besocial-topbar-searchtext" placeholder="Search..." name="search"> 
                                        <input type="submit" class="fa-input" name="submit" value="Go">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="xt-main-nav">
                <nav class="navbar nav-scroll home-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="uv-logo">
                                    <a href="index.html">
                                        <img src="assets/images/univ-logo.png" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-8 pull-right">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-action="#js-navbar-menu" aria-expanded="false">
                                        <span aria-hidden="true" class="icon"></span>
                                    </button>
                                </div>
                                <div class="collapse navbar-collapse" id="js-navbar-menu">
                                    <ul class="nav navbar-nav ep-mobile-menu" id="navbar-nav">
                                        <li class="dropdown xt-drop-nav">
                                            <a href="" class="dropdown-toggle active" data-toggle="dropdown" data-hover="dropdown" data-animations="fadeInDown fadeInDown fadeInDown">
                                                Home
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="index.html">Home (University)</a></li>
                                                <li><a href="index-1.html">Home (Online Course)</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown xt-drop-nav">
                                            <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-animations="fadeInDown fadeInDown fadeInDown">
                                                Course 
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="course-listing.html">Course List</a></li>
                                                <li><a href="course-details.html">Single Course</a></li>
                                                <li><a href="course-details-2.html">Single Course 2</a></li>
                                                <li><a href="course-archive.html">Course Archive</a></li>
                                                <li><a href="course-quiz.html">Course Quiz</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown xt-drop-nav">
                                            <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-animations="fadeInDown fadeInDown fadeInDown">
                                                Profile 
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="dashboard-my-profile.html">Profile</a></li>
                                                <li><a href="dashboard-classes.html">Classes</a></li>
                                                <li><a href="dashboard-courses.html">Courses</a></li>
                                                <li><a href="dashboard-fav-courses.html">Favorite Course</a></li>
                                                <li><a href="dashboard-privacy-setting.html">Privacy Setting</a></li>
                                                <li><a href="dashboard-profile-setting.html">Profile Setting</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown xt-drop-nav">
                                            <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-animations="fadeInDown fadeInDown fadeInDown">
                                                Blog 
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="blog.html">Blog Page</a></li>
                                                <li><a href="blog-single.html">Blog Single</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown xt-drop-nav">
                                            <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-animations="fadeInDown fadeInDown fadeInDown">
                                                Features 
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="about.html">About</a></li>
                                                <li><a href="services.html">Service</a></li>
                                                <li><a href="teacher-details.html">Teacher Details</a></li>
                                                <li><a href="classes.html">Classes Time Table</a></li>
                                                <li><a href="not-found.html">404</a></li>
                                                <li><a href="login-reg.html">Login & Registration</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav><!-- /.navbar -->
            </div>
            <!-- Mobile Menu-->
            <div class="menu-spacing visible-xs nav-scroll">
                <div class="mobile-menu-area visible-xs visible-sm">
                    <div class="mobile-menu">
                        <nav id="mobile-menu-active">
                            <ul class="main">
                                <li class="active"><a class="main-a" href="#">Home</a>
                                    <ul>
                                        <li><a href="index-1.html">Home 1</a></li>
                                    </ul>	
                                </li>
                                <li><a class="main-a" href="">Courses</a>
                                    <ul>
                                        <li><a href="course-listing.html">Course List</a></li>
                                        <li><a href="course-details.html">Single Course</a></li>
                                        <li><a href="course-details-2.html">Single Course 2</a></li>
                                        <li><a href="course-archive.html">Course Archive</a></li>
                                        <li><a href="course-quiz.html">Course Quiz</a></li>
                                    </ul>
                                </li>
                                <li><a class="main-a" href="">Features</a>
                                    <ul>
                                        <li><a href="not-found.html">404</a></li>
                                        <li><a href="login-reg.html">Login & Registration</a></li>
                                        <li><a href="teacher-details.html">Team Details</a></li>
                                        <li><a href="classes.html">Classes</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="services.html">Service</a></li>
                                    </ul>
                                </li>
                                <li><a class="main-a" href="">Profile</a>
                                    <ul>
                                        <li><a href="dashboard-my-profile.html">Profile</a></li>
                                        <li><a href="dashboard-classes.html">Classes</a></li>
                                        <li><a href="dashboard-courses.html">Courses</a></li>
                                        <li><a href="dashboard-fav-courses.html">Favorite Course</a></li>
                                        <li><a href="dashboard-privacy-setting.html">Privacy Setting</a></li>
                                        <li><a href="dashboard-profile-setting.html">Profile Setting</a></li>
                                    </ul>
                                </li>
                                <li><a class="main-a" href="">Blog</a>
                                    <ul>
                                        <li><a href="blog.html">Blog Page</a></li>
                                        <li><a href="blog-single.html">Blog Single</a></li>
                                    </ul>
                                </li>
                                <li><a class="main-a" href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>	
                </div>
            </div>
        </header>
        <!--
        |========================
        |      Features Section
        |========================
        -->
        <section class="uv-subpage-heading image-bg" style="background-image: url(assets/images/header-bg-1.jpg);">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="uv-subhead-content col-xs-12">
                            <h2>About Us</h2>
                            <span>Curricular Responsive Bootstrap Education Template</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="uv-pagination">
            <div class="container">
                <ul>
                    <li class="active"><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                </ul>
            </div>
        </div>
        
        <section class="uv-about-inner">
            <div class="container">
                <div class="row ">
                    <div class="uv-about-content overflow">
                        <div class="bg-3 overflow">
                            <div class="col-sm-6 padding-o">
                                <img src="assets/images/girl.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="col-sm-6">
                                <div class="uv-about-info">
                                    <h4>About Our Journey</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                                    incididunt ut labore et.dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                                    <p>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
                                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                                <div class="uv-about-info">
                                    <h4>Our History & Passion</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                                    incididunt ut labore et.dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                                    <p>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
                                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="uv-achivement">
            <div class="container">
                <div class="row section-separator">
                    <div class="section-title col-xs-12">
                        <h2>Our Achivements</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing aelit, sed do eiusmod tempor incididunt.</p>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="uv-achivement-circle">
                                <ul>
                                    <li class="col-md-3 col-sm-6">
                                        <div class="row">
                                            <div class="circles col-sm-6 col-xs-6">
                                                <div class="progress progress-circle" data-progress="45"></div>
                                            </div>
                                            <div class="uv-circle-info col-sm-6 col-xs-6">
                                                <i class="fa flaticon-presentation"></i>
                                                <span>Presentation</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-3 col-sm-6">
                                        <div class="row">
                                            <div class="circles col-sm-6 col-xs-6">
                                                <div class="progress progress-circle" data-progress="99"></div>
                                            </div>
                                            <div class="uv-circle-info col-sm-6 col-xs-6">
                                                <i class="fa flaticon-photo-camera"></i>
                                                <span>Video Lecture</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-3 col-sm-6">
                                        <div class="row">
                                            <div class="circles col-sm-6 col-xs-6">
                                                <div class="progress progress-circle" data-progress="70"></div>
                                            </div>
                                            <div class="uv-circle-info col-sm-6 col-xs-6">
                                                <i class="fa flaticon-diploma-paper-roll"></i>
                                                <span>Alumni</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-3 col-sm-6">
                                        <div class="row">
                                            <div class="circles col-sm-6 col-xs-6">
                                                <div class="progress progress-circle" data-progress="65"></div>
                                            </div>
                                            <div class="uv-circle-info col-sm-6 col-xs-6">
                                                <i class="fa flaticon-mortarboard"></i>
                                                <span>Certificates</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            

        <section class="uv-video image-bg" style="background-image: url(assets/images/video-bg.jpg);">
            <div class="overlay">
                <div class="container">
                    <div class="row section-separator">
                        <h2>On site campus tour at our EUNIV.</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut labore et.dolore magna aliquauis aute irure dolor.</p>
                        <div class="button">
                            <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"><i class="fa flaticon-play-button"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="uv-blog bg-2">
            <div class="container">
                <div class="row section-separator">
                    <div class="section-title col-xs-12">
                        <h2>Our Teachers</h2>
                        <span>Lorem ipsum dolor sit amet consectetur</span>
                        <hr class="uv-hr">
                        <a href="" class="btn btn-base view-full-event"> View All Teachers</a>
                    </div>
                    <div class="each-blogs col-xs-12" id="uv-blog-carousel">
                        <div class="item">
                            <div class="blog-inner">
                                <div class="blog-banner">
                                    <img src="assets/images/tc3.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="blog-content">
                                    <h4>Luyes Figrey</h4>
                                    <div class="blog-schedule">
                                        <a href=""><h4>Luyes Figrey</h4></a>
                                        <span>PHP Expert</span>
                                        <ul>
                                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                            <li><a href=""><i class="fa fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        <div class="item">
                            <div class="blog-inner">
                                <div class="blog-banner">
                                    <img src="assets/images/tc1.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="blog-content">
                                    <h4>Albert Robber</h4>
                                    <div class="blog-schedule">
                                        <a href=""><h4>Albert Robber</h4></a>
                                        <span>Marketing Expert</span>
                                        <ul>
                                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                            <li><a href=""><i class="fa fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        <div class="item">
                            <div class="blog-inner">
                                <div class="blog-banner">
                                    <img src="assets/images/tc2.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="blog-content">
                                    <h4>Jhon Watson</h4>
                                    <div class="blog-schedule">
                                        <a href=""><h4>Jhon Watson</h4></a>
                                        <span>JavaScript</span>
                                        <ul>
                                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                            <li><a href=""><i class="fa fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="uv-topics">
            <div class="container">
                <div class="row section-separator">
                    <div class="col-xs-12 section-title">
                        <h2>Help Topic</h2>
                    </div>
                    <div class="col-xs-12">
                        <div id="integration-list" class="uv-accordinaton">
                            <ul>
                                <li>
                                    <a class="uv-accordinaton-list">
                                        <div class="uv-right-arrow">+</div>
                                        <h2>Which text editor is perfect for android development?</h2>
                                    </a>
                                    <div class="uv-accordition-detail">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a 
                                        urna in nunc auctor faucibus vitae et dui. Suspendisse iaculis, tellus non 
                                        volutpat volutpat, felis dolor faucibus felis, at iaculis est sem eu dui. 
                                        Vivamus erat quam, ultrices eu accumsan non, imperdiet vitae nunc. Ut ultrices volutpat mollis. </p>
                                    </div>
                                </li>
                                <li>
                                    <a class="uv-accordinaton-list">
                                        <div class="uv-right-arrow">+</div>
                                        <h2>How can I start my freelance carrier?</h2>
                                    </a>
                                    <div class="uv-accordition-detail">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a 
                                        urna in nunc auctor faucibus vitae et dui. Suspendisse iaculis, tellus non 
                                        volutpat volutpat, felis dolor faucibus felis, at iaculis est sem eu dui. 
                                        Vivamus erat quam, ultrices eu accumsan non, imperdiet vitae nunc. Ut ultrices volutpat mollis. </p>
                                    </div>
                                </li>
                                <li>
                                    <a class="uv-accordinaton-list">
                                        <div class="uv-right-arrow">+</div>
                                        <h2>Is EUNIV is a perfect theme for creating an online learning site?</h2>
                                    </a>
                                    <div class="uv-accordition-detail">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a 
                                        urna in nunc auctor faucibus vitae et dui. Suspendisse iaculis, tellus non 
                                        volutpat volutpat, felis dolor faucibus felis, at iaculis est sem eu dui. 
                                        Vivamus erat quam, ultrices eu accumsan non, imperdiet vitae nunc. Ut ultrices volutpat mollis. </p>
                                    </div>
                                </li>
                                <li>
                                    <a class="uv-accordinaton-list">
                                        <div class="uv-right-arrow">+</div>
                                        <h2>Is there any course related to digital marketing?</h2>
                                    </a>
                                    <div class="uv-accordition-detail">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a 
                                        urna in nunc auctor faucibus vitae et dui. Suspendisse iaculis, tellus non 
                                        volutpat volutpat, felis dolor faucibus felis, at iaculis est sem eu dui. 
                                        Vivamus erat quam, ultrices eu accumsan non, imperdiet vitae nunc. Ut ultrices volutpat mollis. </p>
                                    </div>
                                </li>
                                <li>
                                    <a class="uv-accordinaton-list">
                                        <div class="uv-right-arrow">+</div>
                                        <h2>What is the minimum requirement to submit a theme in Marketplace?</h2>
                                    </a>
                                    <div class="uv-accordition-detail">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a 
                                        urna in nunc auctor faucibus vitae et dui. Suspendisse iaculis, tellus non 
                                        volutpat volutpat, felis dolor faucibus felis, at iaculis est sem eu dui. 
                                        Vivamus erat quam, ultrices eu accumsan non, imperdiet vitae nunc. Ut ultrices volutpat mollis. </p>
                                    </div>
                                </li>
                                <li>
                                    <a class="uv-accordinaton-list">
                                        <div class="uv-right-arrow">+</div>
                                        <h2>5 common things every WordPress developer should know.</h2>
                                    </a>
                                    <div class="uv-accordition-detail">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a 
                                        urna in nunc auctor faucibus vitae et dui. Suspendisse iaculis, tellus non 
                                        volutpat volutpat, felis dolor faucibus felis, at iaculis est sem eu dui. 
                                        Vivamus erat quam, ultrices eu accumsan non, imperdiet vitae nunc. Ut ultrices volutpat mollis. </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="uv-topics uv-faq bg-2">
            <div class="container">
                <div class="row section-separator">
                    <div class="col-xs-12 section-title">
                        <h2>FAQ</h2>
                    </div>
                    <div class="col-xs-12">
                        <div id="integration-list-2" class="uv-accordinaton">
                            <ul>
                                <li>
                                    <a class="uv-accordinaton-list">
                                        <div class="uv-right-arrow">+</div>
                                        <h2>Why should I enroll in the Android Developer program?</h2>
                                    </a>
                                    <div class="uv-accordition-detail">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a 
                                        urna in nunc auctor faucibus vitae et dui. Suspendisse iaculis, tellus non 
                                        volutpat volutpat, felis dolor faucibus felis, at iaculis est sem eu dui. 
                                        Vivamus erat quam, ultrices eu accumsan non, imperdiet vitae nunc. Ut ultrices volutpat mollis. </p>
                                    </div>
                                </li>
                                <li>
                                    <a class="uv-accordinaton-list">
                                        <div class="uv-right-arrow">+</div>
                                        <h2>What jobs will this program prepare me for?</h2>
                                    </a>
                                    <div class="uv-accordition-detail">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a 
                                        urna in nunc auctor faucibus vitae et dui. Suspendisse iaculis, tellus non 
                                        volutpat volutpat, felis dolor faucibus felis, at iaculis est sem eu dui. 
                                        Vivamus erat quam, ultrices eu accumsan non, imperdiet vitae nunc. Ut ultrices volutpat mollis. </p>
                                    </div>
                                </li>
                                <li>
                                    <a class="uv-accordinaton-list">
                                        <div class="uv-right-arrow">+</div>
                                        <h2>How much does the Android Developer program cost?</h2>
                                    </a>
                                    <div class="uv-accordition-detail">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a 
                                        urna in nunc auctor faucibus vitae et dui. Suspendisse iaculis, tellus non 
                                        volutpat volutpat, felis dolor faucibus felis, at iaculis est sem eu dui. 
                                        Vivamus erat quam, ultrices eu accumsan non, imperdiet vitae nunc. Ut ultrices volutpat mollis. </p>
                                    </div>
                                </li>
                                <li>
                                    <a class="uv-accordinaton-list">
                                        <div class="uv-right-arrow">+</div>
                                        <h2>Is there a free trial period for this program?</h2>
                                    </a>
                                    <div class="uv-accordition-detail">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a 
                                        urna in nunc auctor faucibus vitae et dui. Suspendisse iaculis, tellus non 
                                        volutpat volutpat, felis dolor faucibus felis, at iaculis est sem eu dui. 
                                        Vivamus erat quam, ultrices eu accumsan non, imperdiet vitae nunc. Ut ultrices volutpat mollis. </p>
                                    </div>
                                </li>
                                                                
                                <li>
                                    <a class="uv-accordinaton-list">
                                        <div class="uv-right-arrow">+</div>
                                        <h2>Are there scholarships or financial aid available?</h2>
                                    </a>
                                    <div class="uv-accordition-detail">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a 
                                        urna in nunc auctor faucibus vitae et dui. Suspendisse iaculis, tellus non 
                                        volutpat volutpat, felis dolor faucibus felis, at iaculis est sem eu dui. 
                                        Vivamus erat quam, ultrices eu accumsan non, imperdiet vitae nunc. Ut ultrices volutpat mollis. </p>
                                    </div>
                                </li>
                                <li>
                                    <a class="uv-accordinaton-list">
                                        <div class="uv-right-arrow">+</div>
                                        <h2>Can I download the video lectures?</h2>
                                    </a>
                                    <div class="uv-accordition-detail">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a 
                                        urna in nunc auctor faucibus vitae et dui. Suspendisse iaculis, tellus non 
                                        volutpat volutpat, felis dolor faucibus felis, at iaculis est sem eu dui. 
                                        Vivamus erat quam, ultrices eu accumsan non, imperdiet vitae nunc. Ut ultrices volutpat mollis. </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!--
        |========================
        |  testimonial
        |========================
        -->
        <section class="section uv-testimonial image-bg" id="uv-testimonial" style="background-image: url(assets/images/ts-bg.jpg);">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 client-quates">
                            <div class="uv-client-testimonial">
                                <div class="slider-content wow">
                                    <div class="carousel uv-carousel-fade slide" data-ride="carousel" id="quote-carousel">
                                        <div class="carousel-inner text-center">
                                            <!-- Quote 1 -->
                                            <div class="item active">
                                                <blockquote>
                                                    <div class="row">
                                                        <div class="uv-client-quates">
                                                            <h3>Sam Andro</h3>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                                                        </div>
                                                    </div>
                                                </blockquote>
                                            </div>
                                            <!-- Quote 2 -->
                                            <div class="item">
                                                <blockquote>
                                                    <div class="row">
                                                        <div class="uv-client-quates">
                                                            <h3>Linux Wlis</h3>
                                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page</p>
                                                        </div>
                                                    </div>
                                                </blockquote>
                                            </div>
                                            <!-- Quote 3 -->
                                            <div class="item">
                                                <blockquote>
                                                    <div class="row">
                                                        <div class="uv-client-quates">
                                                            <h3>Becky Rand</h3>
                                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered</p>
                                                        </div>
                                                    </div>
                                                </blockquote>
                                            </div>
                                            <!-- Quote 4 -->
                                            <div class="item">
                                                <blockquote>
                                                    <div class="row">
                                                        <div class="uv-client-quates">
                                                            <h3>Jenny</h3>
                                                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin</p>
                                                        </div>
                                                    </div>
                                                </blockquote>
                                            </div>
                                        </div>
                                        <!-- Bottom Carousel Indicators -->
                                        <ol class="carousel-indicators uv-indicator">
                                            <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="assets/images/t3.jpg" alt=""></li>
                                            <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="assets/images/t2.jpg" alt=""></li>
                                            <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="assets/images/t1.jpg" alt=""></li>
                                            <li data-target="#quote-carousel" data-slide-to="3"><img class="img-responsive" src="assets/images/student-1.png" alt=""></li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
        <!--
        |========================
        |  footer
        |========================
        -->
        <footer class="uv-footer footer-bg section-separator">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-item">
                            <h6>Contact School</h6>
                            <address>23621 15 Mile Rd #C104, Clinton MI, 48035, New York, USA</address>
                            <ul>
                                <li><a href=""><i class="fa fa-phone"></i>+1 (2) 345 6789</a></li>
                                <li><a href=""><i class="fa fa-phone"></i>+1 (2) 345 6789</a></li>
                                <li><a href=""><i class="fa fa-envelope-o"></i>contact@curricular.com</a></li>
                            </ul>
                            <ul class="social">
                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-item uv-program">
                            <h6>Our Programs</h6>
                            <ul>
                                <li><a href="">Architecture, Building & Planning</a></li>
                                <li><a href="">Biological Sciences</a></li>
                                <li><a href="">Business & Administrative Studies</a></li>
                                <li><a href="">Computer Science</a></li>
                                <li><a href="">Creative Arts & Design</a></li>
                                <li><a href="">Medicine and Related Subjects</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-item">
                            <h6>Our Resources</h6>
                            <ul>
                                <li><a href="">Student Resources</a></li>
                                <li><a href="">Career Development</a></li>
                                <li><a href="">Information Technology</a></li>
                                <li><a href="">Diversity & Access</a></li>
                                <li><a href="">Dining Services</a></li>
                                <li><a href="">Housing & Residence Life</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-item">
                            <h6>Newsletter</h6>
                            <p>Enter your email and we'll send you more information of courses and scholarship.</p>
                            <form class="uv-form footer-form">
                                <div class="form-group relative">
                                    <div class="relative">
                                        <input type="text" class="form-control" placeholder="Email Address" required>
                                    </div>
                                </div>
                                <div class="footer-subs-btn">
                                    <button type="submit" class="btn btn-base" value="subscribe">Subcribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <hr class="f-hr">
                <div class="row">
                    <div class="uv-copyright center">
                        <p> © Copyright Curricular 2018. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>

        
        <!--
        |========================
        |      Script
        |========================
        -->
        <!-- jquery -->
        <script src="assets/plugins/js/jquery-1.11.3.min.js"></script>
        <!-- Bootstrap -->
        <script src="assets/plugins/js/bootstrap.min.js"></script>
        <!-- mean menu nav-->
        <script src="assets/plugins/js/meanmenu.js"></script>
        <!-- ajaxchimp -->
        <script src="assets/plugins/js/jquery.ajaxchimp.min.js"></script>
        <!-- wow -->
        <script src="assets/plugins/js/wow.min.js"></script>
        <!-- Owl carousel-->
        <script src="assets/plugins/js/owl.carousel.js"></script>
        <!--dropdownhover-->
        <script src="assets/plugins/js/bootstrap-dropdownhover.min.js"></script>
        <!--jquery-ui.min-->
        <script src="assets/plugins/js/bars.js"></script>
        <!--validator -->
        <script src="assets/plugins/js/validator.min.js"></script>
        <!--smooth scroll-->
        <script src="assets/plugins/js/smooth-scroll.js"></script>
        <!-- Fancybox js-->
        <script src="assets/plugins/js/jquery.fancybox.min.js"></script>
        <script src="assets/plugins/js/jquery.matchHeight.js"></script>
        <!-- fitvids -->
        <script src="assets/plugins/js/jquery.fitvids.js"></script>
        <!-- SELECTIZE-->
        <script src="assets/plugins/js/standalone/selectize.js"></script>
        <!-- isotope js-->
        <script src="assets/plugins/js/isotope.pkgd.js"></script>
        <script src="assets/plugins/js/packery-mode.pkgd.js"></script>
        <script src="assets/plugins/js/jquery.inview.min.js"></script>
        <script src="assets/plugins/js/progressbar.min.js"></script>

        <!-- init -->
        <script src="assets/js/init.js"></script>
        
    </body>
</html>